/* @import url("https://fonts.googleapis.com/css2?family=Spartan"); */

/* VARIABLES */

:root {
  /* fonts */
  --root-font: 62.5%;
  --mobile-font: 50%;
  --tablet-font: 56.25%;
  --desktop-font: 75%;
  --font-strong: 500;
  --font-stronger: 700;
  /* colors */
  --cont-bg: #fff;
  --pri-col: hsl(180, 29%, 50%);
  --neu-bg: hsl(180, 52%, 96%);
  --neu-fil: hsl(180, 31%, 95%);
  --neu-dakG: hsl(180, 8%, 52%);
  --neu-vDakG: hsl(180, 14%, 20%);
}

/* BASE */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
}

html {
  font-size: var(--root-font);
}

/* MOBILE / TABLET /DESTKTOP FONT MEDIA QUERIES */

@media only screen and (max-width: 1440px) {
  html {
    font-size: var(--desktop-font);
  }
}

@media only screen and (max-width: 900px) {
  /* Tablet */
  html {
    /* 1rem = 10px */
    font-size: var(--tablet-font);
  }
}

@media only screen and (max-width: 375px) {
  /* Mobile */
  html {
    /* 1rem = 10px */
    font-size: var(--mobile-font);
  }
}

body {
  font-family: "Spartan", sans-serif;
  background-color: var(--neu-bg);
}

/* LAYOUT */

.container {
  margin: 5rem 3rem 0 3rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: auto;
  row-gap: 5rem;
}

.photosnap,
.manage,
.account,
.myhome,
.loopstudios,
.faceit,
.shortly,
.insure,
.eyecam,
.theair {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--cont-bg);
  box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0),
    0 8px 25px 0 rgba(163, 162, 162, 0.1);
  border-radius: 0.5rem;
}

.photosnap,
.manage {
  border-left: 0.5rem solid var(--pri-col);
}

/* PROFILE DISPLAY */

.dp {
  position: absolute;
  top: -3vh;
  left: 5vw;
}

.dp > figure > img {
  width: 5rem;
}

/* TYPOGRAPHY */

/* profile styles */

.profile {
  padding: 4rem 2rem 0 2rem;
}

.profile__name,
.profile__time-loc {
  color: var(--pri-col);
}

.profile__time-loc {
  display: flex;
}

.profile__time-loc > * {
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  font-size: 2.25rem;
  color: var(--neu-dakG);
}

.profile__time-loc > span {
  line-height: 2.5;
  font-weight: var(--font-stronger);
  font-size: 1.5rem;
}

.profile__time-loc {
  border-bottom: 1px solid var(--neu-dakG);
}

.profile__name {
  font-size: 2rem;
  font-weight: var(--font-stronger);
}

.profile__title {
  font-weight: var(--font-stronger);
  font-size: 2.3rem;
}

.grp {
  line-height: 2.2;
}

.category__new {
  background-color: var(--pri-col);
  margin: 0 0.3rem 0 1rem;
}

.category__featured {
  background-color: var(--neu-vDakG);
}

.category__new--round,
.category__featured--round {
  padding: 0.3rem 0.6rem;
  border-radius: 5rem;
  font-weight: var(--font-stronger);
  color: var(--cont-bg);
  text-transform: uppercase;
}

/* tablet styles */

.tablet {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0rem 3rem 2rem;
}

.tablet > * {
  margin: 2rem 2rem 0 0;
  background-color: var(--neu-fil);
  border-radius: 0.5rem;
  padding: 1rem;
  font-weight: var(--font-stronger);
  font-size: 2rem;
  color: var(--pri-col);
}

.account > div:nth-child(3) > p:nth-child(4) {
  order: 3;
}

.account > div:nth-child(3) > p:nth-child(3) {
  order: 5;
}

.account > div:nth-child(3) > p:nth-child(5) {
  order: 4;
}

.loopstudios > div:nth-child(3) > p:nth-child(4) {
  order: 5;
}

.shortly > div:nth-child(3) > p:nth-child(4) {
  order: 5;
}

.insure > div:nth-child(3) > p:nth-child(4) {
  order: 3;
}

.insure > div:nth-child(3) > p:nth-child(3) {
  order: 4;
}

.insure > div:nth-child(3) > p:nth-child(5) {
  order: 5;
}

.eyecam > div:nth-child(3) > p:nth-child(5) {
  order: 4;
}

.eyecam > div:nth-child(3) > p:nth-child(4) {
  order: 5;
}

.theair > div:nth-child(3) > p:nth-child(3) {
  order: 5;
}

.theair > div:nth-child(3) > p:nth-child(5) {
  order: 4;
}

/* footer */

.attribution {
  font-size: 1.5rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

/* MEDIA QUERY */

@media only screen and (min-width: 1200px) {
  /* LAYOUT */
  .container {
    margin: 5rem 5rem 0 5rem;
    row-gap: 2rem;
  }

  .photosnap,
  .manage,
  .account,
  .myhome,
  .loopstudios,
  .faceit,
  .shortly,
  .insure,
  .eyecam,
  .theair {
    padding: 2.5rem 2.5rem 2.5rem 3rem;
    flex-direction: row;
  }

  /* PROFILE DISPLAY */

  .dp {
    top: initial;
    left: 2vw;
    margin-left: 1rem;
  }

  .dp > figure > img {
    width: initial;
  }

  /* TYPOGRAPHY */

  /* profile styles */

  .profile {
    display: flex;
    padding: 0;
  }

  .profile__title {
    font-size: 1.7rem;
  }

  .category__new {
    margin: 0 0.3rem 0 1rem;
  }

  .profile__name {
    font-size: 1.2rem;
  }

  .profile__time-loc > * {
    margin-bottom: 0;
    padding-right: 1.2rem;
    font-size: 1.3rem;
  }

  .profile__time-loc > span {
    line-height: 1;
  }

  .profile__time-loc {
    border-bottom: none;
  }

  .grp {
    margin-left: 9.5rem;
    line-height: 1.8;
  }

  /* tablet styles */

  .tablet {
    margin: 0 0rem 0 auto;
    align-items: center;
    flex-wrap: nowrap;
  }

  .tablet > * {
    margin: 0 1rem 0 0;
    font-size: 1.2rem;
  }

  @media only screen and (min-width: 1366px) {
    .container {
      margin: 5rem 10rem 0 10rem;
    }
  }

  @media only screen and (min-width: 1440px) {
    .container {
      margin: 5rem 10rem 0 10rem;
    }
  }
}
